<section class="responsive">


  <div class="container--cards">

    <div matRipple class="card--explore  ">
      <h1>Pop</h1>
    </div>

    <div matRipple class="card--explore ">
      <h1>Romantic</h1>
    </div>

    <div matRipple class="card--explore ">
      <h1>Reggaeton</h1>
    </div>

    <div matRipple class="card--explore ">
      <h1>Latin</h1>
    </div>

    <div matRipple class="card--explore ">
      <h1>Rock</h1>
    </div>

    <div matRipple   class="card--explore ">
      <h1>Bachatas</h1>
    </div>

  </div>
</section>
