.containerAppLogo {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3000;
    left: -10px;
    background-image: linear-gradient(to bottom, blue, #b80b5e);
    text-align: center;
}

.containerAppLogo img {
    width: 270px;
    color:white;
    transition: .4s;
    /* background-color: blue; */
    cursor: pointer;
}

.containerAppLogo img:hover {
    transition: .8s;
    opacity: .8;
    transform: translateY(-.9px)
}
