<nav class="menu--blue" style="margin-top: -1.8em;" id="menu">
    <li><a [routerLinkActive]="['active--blue--menu']" [routerLink]="['/home']"  matTooltip="Listen"> <i class="fas fa-headphones"></i></a></li>
    <li><a [routerLinkActive]="['active--blue--menu']" [routerLink]="['/releases']"  matTooltip="New Releases"> <i class="fas fa-play"></i></a></li>
    <li><a [routerLinkActive]="['active--blue--menu']" [routerLink]="['/albums']"  matTooltip="Albums">  <i class="fas fa-compact-disc"></i></a></li>
    <li><a [routerLinkActive]="['active--blue--menu']" [routerLink]="['/explore']"  matTooltip="Explore">  <i class="fas fa-location-arrow"></i></a></li>
    <li><a [routerLinkActive]="['active--blue--menu']" [routerLink]="['/search']"  matTooltip="Search">  <i class="fas fa-search"></i></a></li>
    <li><a [routerLinkActive]="['active--blue--menu']" [routerLink]="['/about']"  matTooltip="Info">  <i class="fas fa-info"></i></a></li>

</nav>
<div class="theme--blue" id="theme">
  <p id="idTheme">Music</p>
</div>


<router-outlet></router-outlet>
