<div class="responsive inTop" *ngIf="spinner.off">
  <mat-spinner color="accent"></mat-spinner>
</div>

<div class="containerNewReleases" *ngIf="!spinner.off">
    <div class="cards inTop " >

        <div class="card inTop" *ngFor="let releases of cardReleases" matRipple>
            <div class="container__image">
                <img class="card__image" src="../../assets/imgReleaseAlbum/{{releases.image}}" alt="images">
            </div>
            <div class="nameAlbumReleases in">{{releases.name}}</div>
        </div>



    </div>


</div>
