<div class="in">
  <form  class="form">
    <input type="text" name="" value="" placeholder="Search all" class="large">
  </form>
</div>

<div class="responsive inBottom">
  <mat-button-toggle-group style="padding:0"   name="fontStyle" aria-label="Font Style">
    <mat-button-toggle style="padding: 0 1.5em"  value="All">All</mat-button-toggle>
    <mat-button-toggle style="padding: 0 1.5em"  value="Album">Album</mat-button-toggle>
    <mat-button-toggle  style="padding: 0 1.5em" value="Track">Track</mat-button-toggle>
  </mat-button-toggle-group>

</div>
