<div class="containerNewReleases">
  <div class="responsive inTop" *ngIf="spinner.off">
    <mat-spinner color="primary"></mat-spinner>
  </div>

    <div class="cards inTop " *ngIf="!spinner.off">



        <div class="card" *ngFor="let releases of cardReleases" matRipple>
            <div class="container__image">
                <img class="card__image" src="../../assets/imgReleaseAlbum/{{releases.image}}" alt="images">
            </div>
            <!-- <div class="nameAlbumReleases in">{{releases.name}}.</div> -->
        </div>



    </div>


</div>



<section class="albums"  *ngIf="!spinner2.off">

    <div class="album inTop" *ngFor="let album of albums; let i=index" matRipple>

        <img src="../../assets/albumImage/{{album.image}}" alt="image album">

        <h1 class="title audio__title">{{album.name}}</h1>

        <article *ngIf="bandList==1" class="responsive">

            <div class="audios in" *ngFor="let sound of albums[i].playlist">
                <div>
                    <span class="id__sound"> {{sound.id}} </span>
                    <h1 class="title audio__title">{{sound.title}}</h1>
                </div>

                <audio src="../../assets/audio/audios/{{sound.audio}}" controls></audio>
            </div>

        </article>

    </div>


</section>


<div class="responsive inTop" *ngIf="spinner2.off">
  <mat-spinner color="primary"></mat-spinner>
</div>
