.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
}

.card__image {
    border-radius: 50%;
    animation: rotat 1s 1s linear;
    transition: 1s;
}

@keyframes rotat {
    from {
        transform: rotate(-40deg);
        transition: 1s;
    }
    to {
        transform: rotate(0);
        transition: 1s;
    }
}

.card__title {
    font-size: 16px;
    margin-top: -20px;
    font-weight: 600;
    color: rgb(141, 14, 52);
}

.card__title::first-letter {
    font-size: 22px;
}

.card__image:hover {
    transform: scale(1.1);
    transition: .9s;
}

.nameAlbumReleases {
    background-color: blue;
    position: relative;
    background-color: blue;
    color: white;
    text-align: center;
    font-family: arial;
    border-radius: 10px;
    word-wrap: break-word;
}